<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}EasyReserve{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Tailwind / CSS -->
    {% block extra_css %}{% endblock %}
</head>

<body class="bg-gray-100 min-h-screen flex flex-col">

    {% include "components/header.html" %}

    <main class="flex-1 container mx-auto p-4">
        {% if messages %}
        <div class="fixed top-4 right-4 space-y-2 z-50">
            {% for message in messages %}
            <div class="
                px-4 py-3 rounded-lg shadow-md text-white
                {% if message.tags == 'success' %} bg-green-600
                {% elif message.tags == 'error' %} bg-red-600
                {% elif message.tags == 'warning' %} bg-yellow-500
                {% else %} bg-blue-600
                {% endif %}
            ">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}


        {% block content %}{% endblock %}
    </main>

    {% include "components/footer.html" %}

    {% block extra_js %}{% endblock %}
</body>

</html>